language: php

dist: trusty

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: PHPUNIT_TEST=1 PHPCS_TEST=1
    - php: 7.0
      env: PHPUNIT_TEST=1

before_script:
  - phpenv rehash
  - export PATH=~/.composer/vendor/bin:$PATH
  - composer validate
  - if [[ $PHPCS_TEST ]]; then composer global require squizlabs/php_codesniffer:^3 --prefer-dist --no-interaction --no-progress --no-suggest -o; fi
  - composer require --prefer-dist --no-update silverstripe/recipe-core:1.x-dev
  - composer install --prefer-dist

script:
 - if [[ $PHPUNIT_TEST ]]; then vendor/bin/phpunit; fi
 - if [[ $PHPCS_TEST ]]; then composer run-script lint; fi
